body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
    margin-top: 8px;
}

label {
    margin-top: 16px;
}


.avatar {
    border-radius: 15px;
    float:left;
    margin-right: 20px;

}


.contact-card-line{
    margin-left: 20px;
    line-height:25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}
.contact-card-line strong {
    font-size:small;
    margin-right: 15px;
    line-height:25px;
}
/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}


input.input-validation-error { border: 1px solid #f00; background-color: #fee; }

span.field-validation-error {
    color: #f00;
}

/* MISC */

.group-members {
    max-height : 300px;
    overflow: auto;

}

.main-page-box {
    background-image:url(img/congruent_outline.png);
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:auto; 
}
